.yuqori {
    -fx-background-color: #91451B;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.quyosh {
    -fx-background-color: transparent;
    -fx-border-width: 0 10 0 0;
    -fx-border-color: #91451B;
    -fx-cursor: default;
}

.quyosh .rasm {
    -fx-background-color: transparent;
    -fx-border-width: 3;
    -fx-border-radius: 35;
    -fx-border-color: #B65420;
}

.quyosh .matn {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman";
    -fx-background-color: #EAEAAB;
}

.osimliklar {
    -fx-cursor: hand;
    -fx-background-color: #55AD41;
    -fx-background-radius: 2;
    -fx-border-color: #000;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.osimliklar .matn {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20px;
}

.nom {
    -fx-background-color: #F3F1E5;
    -fx-background-radius: 2 2 0 0;
    -fx-border-width: 0;
    -fx-text-fill: #000;
    -fx-font-family: 'Times New Roman';
    -fx-alignment: center;
    -fx-font-size: 8pt;
}

.rasm {
    -fx-background-color: #BCDD9E;
    -fx-background-radius: 2;
}

.qiymat {
    -fx-background-color: #F3F1E5;
    -fx-background-radius: 2;
    -fx-border-width: 1;
    -fx-border-color: #9AB47F;
}

.rang {
    -fx-background-color: #6D3113;
    -fx-background-radius: 5;
    -fx-border-width: 0;
    -fx-border-color: #91451B;
}